.card .row {
    min-height: 504px;
}

input {
    margin-top: 24px !important;
}
/* 
.login-background{
    background-color: rgba(0,136,255,0.7);
    height: auto;
}

.login-border{
    border-radius: 100px !important;
} */