* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dfe2df;
    font-family: 'open sans';
}

.pago1 {
    grid-area: pag1;
    justify-content: center;
    align-items: center;
}

.pago2 {
    grid-area: pag2;
    justify-content: center;
    align-items: center;
}

.pago3 {
    grid-area: pag3;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tabla {
    width: 33%;
    height: 400px;
    margin: auto;
    border: 2px dashed #343759;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #343759;
    padding: 40px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
}

.tabla>h2 {
    display: block;
    font-size: 30px;
    margin-bottom: 35px;
}

.tabla img {
    margin-bottom: 35px;
}

.tabla>h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.style {
    background-color: #51e5ff56;
}

.tabla>p {
    display: block;
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: #a5f059;
    text-decoration: none;
    color: #343759;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover {
    background: #343759;
    color: #f1f1f2;
    transition: scale(1.1);
    cursor: pointer;
}

@media (max-width: 748px) {
    .tabla {
        width: 33%;
        height: 400px;
        margin: auto;
        border: 2px dashed #343759;
        border-radius: 4px;
        box-shadow: 0px 0px 4px 0px #343759;
        text-align: center;
        flex-grow: 1;
        color: #343759;
    }
    .container-fluid {
        width: 100%;
        max-width: 900px;
        margin: auto;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .boton {
        display: inline-block;
        width: 50%;
        padding: 12px;
        background: #a5f059;
        text-decoration: none;
        color: #343759;
        border-radius: 100px;
        text-align: center;
        font-size: 10px;
    }
}
