.img-profile {
    height: 2rem;
    width: 2rem;
}

.popup {
    max-width: 60px;
}

.headerLinks {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 3px;
}

.black {
    color: black !important;
}

.cursor {
    cursor: Pointer;
}

.small {
    color: black !important;
    font-size: 1em;
}

.colorLt {
    color: black !important;
    font-size: 1em;
}

@media (max-width: 748px) {
    .img-profile {
        display: none;
    }
    .alert {
        display: none;
    }
    .image {
        display: none;
    }
}
